/** ----------- THIS IS THE MAIN CSS USED FOR THE APP ---------- **/

html {
  background-color: cadetblue; /* Ensure the background color stays */
  height: 100%;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  

  color-scheme: light dark;
  color: rgba(0, 0, 0, 0.87);


  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --base-color-dark: #264653;
  --base-almost-white: #c1c1c1;
  --accent-turquoise: #2A9D8F;
  --accent-yellow: #E9C46A;
  --accent-orange: #F4A261;
  --accent-red: #E76F51;
  --selected-blue: #3855fd;
}

body {
  margin: 0;
  display: flex; /* Enables flexbox */
  justify-content: center; /* Centers horizontally */
  align-items: center; /* Centers vertically */
  height: auto; /* Full viewport height */
  background-color: var(--base-almost-white);
}

#app {
  margin: 0 auto;
  background-color: var(--base-almost-white); /* Ensure the background color stays */
}

/** ----------- APP ---------- **/

/** ----------- MAIN ---------- **/

.filter-banner {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  max-height: 100px;
  background-color: white;
  padding: 15px 40px;
  z-index: 1001;
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);
  border-bottom: BLACK;
}

.main-container {
  width: 100vw; /* Full width of the viewport */
  height: 100vh; /* Full height of the viewport */  
  

}

.main-content {

  display: flex;
  flex-direction: column; /* Stack elements vertically */
  height: 100vh; /* Full height of the viewport */  
  background-color: #f9f9f9;
  width: 80%; /* Occupy 70% of the parent container */
  min-height: 100vh; /* Full height of the screen */
  overflow: hidden;



}

.top-panel {
  z-index: 1;
  width: 100%;
  height: 100px;
  background-color: white;
}

.main-tree-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  position: relative;
  padding: 20px;
  align-items: flex-start;
  min-height: 90%;
  justify-content: center;
  background-color: rgb(203, 142, 62);
  overflow-x: scroll;


  background-color: var(--base-almost-white); /* Ensure the background color stays */
}

/** ----------- TREE ---------- **/

.tree {
  
  height: auto;
  margin-right: 20px;
}





h1 {
  font-size: 1.2em;
  line-height: 1;
}

/** ----------- SIDE PANEL ---------- **/

.side-panel-container {
  width: 20%; /* Occupy the remaining 30% */
  height: 100%;

  position: fixed; /* Ensures it stays in place */
  top: 0; /* Aligns it to the top */
  right: 0; /* Positions it at the right edge */

 
  color: white;
  background-color: var(--base-color-dark);
  
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.2);
  
}


.side-panel {
  margin-left: 15px;
  margin-right: 15px;
}


.side-panel-other-denominations {
  margin-top: 50px;
}

.side-panel-other-denominations-box {
  margin-top:6px;
  display: flex;
  flex-direction:column;
  height: 100px;
  width: 100%;
  background-color: #1a1a1a;
  opacity: 0.5;
  border-radius: 5px;
}

.side-panel-rds {
  background-color: var(--accent-red);
  width: fit-content;
  border-radius: 20px;
  padding: 6px;

}

.side-panel-other-denominations-box.span {
  color: rgb(255, 255, 255);
  padding: 4px;
  margin-left: 4px;
}

.img-map {
  margin-top: 100px;
}

/** ----------- NODE ---------- **/

.node-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: auto;
  height: 30px;
  border-radius: 5px;
  background-color: white;
  margin-bottom: 10px;
  white-space: nowrap;
  overflow: visible;
  cursor: pointer;
  transition: background-color 0.2s ease;
  padding-right: 6px;
  padding-left: 6px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Add subtle shadow */
}

.node-child {
  width: auto;
}



.node-container:hover {
  background-color: #dcdcdc;
  cursor: pointer;
}

.node-container.selected {
  background-color: var(--selected-blue); /* mörkare blå vid klick */
  color: white;
}

.toggle-icon {
  margin-left: 10px; /* Add spacing between the name and the toggle icon */
}

.node-rds {

  
}

.node-name {
  font-weight: lighter;
  margin-right: auto; /* Pushes the element to the leftmost position */
}

.linked-node {
 background-color: var(--accent-yellow);
}



/** ----------- FILTER DROPDOWN---------- **/

.filter-dropdown {
  display: flex;
  flex-direction: column;
  
  position: relative; /* Ensure positioning context for dropdown */
  max-width: calc(100% - 345px);/* Reduce the width to make it shorter on the right side */
} 

.filter-top-row {
  display: flex;
  flex-direction: row;
 
  margin-bottom: 10px;
  height: 25px;
  margin-left: 50px;
  margin-top: 10px;

}

.filter-text {
  margin-right: 10px;
  display: flex; /* Use flexbox for alignment */
  align-items: center; /* Center vertically */
  color: white;
  
  background-color: var(--selected-blue); /* Add a background color */
  padding: 5px 10px; /* Add padding for button-like appearance */
  border-radius: 5px; /* Add rounded corners */
  cursor: pointer; /* Change cursor to pointer for interactivity */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
  transition: background-color 0.2s; /* Smooth transition for hover effect */  
} 

.filter-text:hover {
  background-color: #0400ff9a; /* Darken background on hover */
} 

.selected-tags-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap; /* Prevent wrapping of tags */
 
  align-items: center;
} 

.selected-tag {

  cursor: pointer;
  background-color: var(--selected-blue); /* Use the selected blue color */
  margin-right: 4px;
  font-size: 0.8em; 
  display: flex;
  flex-direction: row;
  align-items: center;
  color: white;
  border-radius: 20px;
  height: 20px;
  padding-right: 5px; 
  padding-left: 5px;
  padding-top: 2px; 
  padding-bottom: 2px;
  
}

.selected-tag-name {
  color: white;
  margin-right: 4px;

  

}

.icon-small {
  width: 14px;
  height: 14px;
  border-radius: 50%; 
  margin-top: 2px;
}

.icon-small:hover {
  background-color: var(--accent-red); /* Change color on hover */
  cursor: pointer; /* Change cursor to pointer for interactivity */
}




.dropdown {
  position: absolute; /* Position on top of everything */
  z-index: 1000; /* Ensure it appears above other elements */
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  width: 170px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
  top: 100%; /* Position below the filter-top-row */
  left: 0;
}

.dropdown ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.dropdown li {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

label {
  margin-left: 5px;
}

input[type="checkbox"] {
  cursor: pointer;
}

.chevron {
  margin-left: 5px; /* Add spacing between text and chevron */
  font-size: smaller; /* Adjust size of the chevron */
}

/**? ----------- THIS IS CURRENTLY NOT USED---------- **/


button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}